.main_addCard_div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
