@font-face {
  font-family: "Planewalker";
  src: url("../fonts/Planewalker.otf");
}

.div_card {
  display: flex;
  justify-content: flex-start;
  margin-left: 15vw;
  margin-top: 19.5vh;
}

.card_details {
  font-family: "Planewalker";
  position: relative;
  color: rgb(1, 1, 1);
  width: 18vw;
  height: 50vh;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/funcard.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.card_details:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 139px 58px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 65px 58px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 139px 58px rgba(255, 255, 255, 0.75);
}

.name_details {
  position: absolute;
  top: 3vh;
  left: 1.5vw;
}

.location_details {
  position: absolute;
  top: 28.5vh;
  left: 2vw;
  font-size: 0.8rem;
}

.image_details {
  position: absolute;
  background-size: cover;
  left: 1.5vw;
  top: 6vh;
  width: 14.25vw;
  height: 21.7vh;
}

.mandatory_details {
  position: absolute;
  font-size: 1rem;
  top: 32vh;
  left: 5vw;
}

.description_details {
  position: absolute;
  width: 13vw;
  font-size: 10px;
  text-align: justify;
  top: 35vh;
  left: 2vw;
}

.difficulty_details {
  position: absolute;
  top: 28.25vh;
  left: 13vw;
  font-size: 0.75rem;
}

.video_details {
  position: absolute;
  left: 45vw;
  top: 25vh;
}

.combat {
  color: white;
  font-size: 1.5rem;
  font-family: "Planewalker";
}

.div_combat {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.game_name {
  color: white;
  position: absolute;
  font-size: 1rem;
  bottom: 15.25vh;
  left: 19.9vw;
}

.remove_button {
  position: absolute;
  background-color: red;
  color: white;
  bottom: 10vh;
  left: 20vw;
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
}

.remove_button:hover {
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}

.update_button {
  position: absolute;
    background-color: red;
    color: white;
    bottom: 10vh;
    left: 23vw;
    width: 5vw;
    height: 4vh;
}

@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
