body {
  background-image: url("../assets/bg.jpg");
}

.main {
  font-family: "Planewalker";
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  width: 80vw;
}

.div_select {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.select {
  width: 15vw;
  height: 4vh;
  font-family: "Planewalker";
}

.option {
  margin-left: 4vw;
}
