@font-face {
  font-family: "Planewalker";
  src: url("../fonts/Planewalker.otf");
}

body {
  background-image: url("../assets/bg.jpg");
}

.main {
  font-family: "Planewalker";
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  width: 80vw;
}

.card {
  position: relative;
  color: rgb(1, 1, 1);
  width: 18vw;
  height: 50vh;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/funcard.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.card:hover {
  transform: scale(1.2);
}

.name {
  position: absolute;
  top: 3vh;
  left: 2vw;
}

.location {
  position: absolute;
  top: 28vh;
}

/* .encart_double {
  
  width: 16vw;
  height: 46vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.name_box {
  border: solid rgb(106, 9, 196) 2px;
  width: 90%;
  background-color: beige;
  height: 3.5vh;
  margin-top: 1vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 2px;
} */
